body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0 auto;
}

header {
    text-align: left; /* Align the h1 tag to the left */
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    margin: 0; /* Remove any default margin for the h1 tag */
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.inner-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.inner-full-width-container {
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
}

/* Center the QR code image within the section */
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0; /* Add spacing to the section */
}

.qr-code-img {
    max-width: 100%;
}