html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0 24px;
    /*color: #aaa;*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

header {
    text-align: left; /* Align the h1 tag to the left */
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.description {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}